.wrapper{
    border: 3px solid #fff;
    padding: 20px;
    display: flex;
}
.box{
    height: 400px;
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}
/* added this CSS style for the logos */
.pins{
    color: #F13C20;
    font-size: xx-large;
}

.topnav{
    overflow: hidden;
    background-color: #c2c1c1;
}
.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover{
    background-color: rgb(152, 129, 129);
    color: lightpink;
}
.topnav input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 18px;
}

#map {
    height: 100%;
}