/* this is for itinerary section */
#locationList{
    display: flex;
    flex-direction: column;
    border: 3px solid #fff;
    padding: auto;
    background-color: #d79922;
}

.locationCard {
    height: 200px;
    background-color: #EFE2BA;
    margin: 10px;
}

.locationCardTitle {
    text-align: center;
}

.box{
    height: 400px;
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px hidden #ccc;
    background-color: #D79922;
}

/* this is for the title */
.header{
    border: 1px hidden;
    padding: auto;
    font-size: 50px;
    text-align: center;
    background-color: #f0ead8;
}

/* this is for navbar */
.topnav{
    border: 1px hidden;
    padding: auto;
    text-align: center;
}

/* this if for navbar 
/* added this CSS style for the logos */
.pins{
    color: #F13C20;
    font-size: xx-large;
}

.topnav{
    overflow: hidden;
    background-color: #c2c1c1;
} 

.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover{
    background-color: rgb(152, 129, 129);
    color: lightpink;
}

.topnav input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 18px;
} 

/* this is for map apis */
#map {
    height: 100%;
}

.location{
    border: 2px;
    padding: 10px;
    display: flex;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    
}
/*this is for introduction paragraph */
.split{
    border: 1px solid #ccc;
    padding: 4%;
    display: flex;
    background-color: #D79922; 
}
.left{ 
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}
.right{
    border: 1px hidden;
}
/* this is for location */
.location{
    border: 1px hidden #ccc;
    padding: auto;
    background-color: #EFE2BA;
    flex-flow: column;
}
.drop{
    position: relative;
    display: inline block;
}
.dropbtn{
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.drop-content{
    display: flex;

}

